@import '../../styles/shared.scss';

.form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 25px 16px 18px 16px;
  width: 340px;
  height: 711px;

  box-shadow: 5px 10px 30px $form-box-shadow;
  border-radius: 16px;
  background-color: $white;

  @media screen and (min-width: 570px) {
    margin: 50px auto;
    padding: 29px 35px;
    width: 570px;
    height: 964px;
  }
}

.mainIcon {
  margin: 0 auto;
  & svg {
    width: 50px;
    height: 55px;
  }
  @media screen and (min-width: 570px) {
    & svg {
      width: 80px;
      height: 82px;
    }
  }
}

.title {
  margin-top: 21px;
  margin-bottom: 24px;
  font-size: $font-size-primary;

  @media screen and (min-width: 570px) {
    margin-top: 24px;
    margin-bottom: 35px;
  }
}

.radioContainer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 20px;

  @media screen and (min-width: 570px) {
    margin-top: 12px;
    margin-bottom: 30px;
  }
}

.radioItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 100px;

  margin-right: 16px;

  border: 1px solid $input-normal;
  border-radius: 16px;

  &:last-child {
    margin-right: 0;
  }
}

label {
  position: relative;
  margin-bottom: 20px;

  font-size: $font-size-mobile;
  font-weight: 700;
  text-align: left;

  @media screen and (min-width: 570px) {
    margin-bottom: 30px;
    font-size: $font-size-secondary;
  }
}

.genderButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 80px;
  margin-left: 19px;
  padding: 10px 0;

  font-size: $font-size-mobile;
  font-weight: 400;
  color: $primary-font-color;
  fill: red;

  border: 1px solid $input-normal;
  border-radius: 16px;
  background-color: transparent;
  transition: all 250ms $timing-function;

  &:first-child {
    margin-left: 0;
  }

  &:hover,
  &:focus {
    border: 1px solid $button-normal;
    color: $button-normal;
    font-weight: 700;
    fill: $button-normal;
    cursor: pointer;
  }

  & svg {
    fill: currentColor;
  }

  @media screen and (min-width: 570px) {
    width: 156px;
    height: 100px;
    margin-right: 16px;
    padding: 20px 0;

    font-size: $font-size-secondary;
  }
}

.gender-active {
  border: 1px solid $button-normal;
  color: $button-normal;
  font-weight: 700;
  fill: $button-normal;
}

.text {
  margin-top: 8px;
  font-size: $font-size-secondary;
  font-weight: 400;
}

.gender-title {
  margin-bottom: 8px;

  font-size: $font-size-mobile;
  font-weight: 700;
  text-align: left;

  @media screen and (min-width: 570px) {
    margin-bottom: 12px;
    font-size: $font-size-secondary;
  }
}

.input-container {
  position: relative;
}

.input {
  width: 100%;
  padding: 15px 18px;
  margin-top: 8px;

  font-size: $font-size-mobile;
  font-weight: 400;
  color: $primary-font-color;

  border: 1px solid $input-normal;
  border-radius: 16px;
  background-color: transparent;
  outline: none;

  &::placeholder {
    font-size: $font-size-mobile;
    color: $input-normal;
  }

  @media screen and (min-width: 570px) {
    padding: 24px;
    margin-top: 12px;

    font-size: $font-size-secondary;

    &::placeholder {
      font-size: $font-size-secondary;
      color: $input-normal;
    }
  }
}

.help-block {
  position: absolute;
  bottom: -22%;
  left: 0;

  font-size: $font-size-mobile-secondary;
  font-weight: 400;
  color: $input-error;

  @media screen and (min-width: 570px) {
    font-size: $font-size-mobile;
  }
}

.button {
  padding: 15px 0;

  font-size: $font-size-mobile;
  font-weight: 700;
  color: $white;
  background-color: $button-normal;
  border: none;
  border-radius: 16px;
  transition: all 250ms $timing-function;
  cursor: pointer;

  &:hover {
    background-color: $button-hover;
  }

  &:focus {
    background-color: $button-pressed;
  }

  @media screen and (min-width: 570px) {
    padding: 25px 0;

    font-size: $font-size-secondary;
  }
}

.link {
  font-size: $font-size-mobile-secondary;
  font-weight: 700;
  color: $button-normal;

  @media screen and (min-width: 570px) {
    font-size: $font-size-secondary;
  }
}

.infoText {
  margin: 16px 0;

  font-size: $font-size-mobile-secondary;
  font-weight: 400;

  &:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media screen and (min-width: 570px) {
    margin-top: 30px;
    margin-bottom: 20px;

    font-size: $font-size-secondary;
  }
}

.has-error {
  border: 1px solid $input-error;
}

.has-success {
  border: 1px solid $input-confirmed;
}

.has-normal {
  border: 1px solid $input-normal;
}
