@import '../../styles/shared.scss';

.form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 29px 35px;
  width: 570px;
  height: 964px;

  box-shadow: 5px 10px 30px $form-box-shadow;
  border-radius: 16px;
  background-color: $white;

  @media screen and (min-width: 570px) {
    margin: 50px auto;
    padding: 29px 35px;
    width: 570px;
    height: 964px;
  }
}

.mainIcon {
  margin: 0 auto;
}

.title {
  margin-top: 24px;
  margin-bottom: 35px;
  font-size: $font-size-primary;
}

.radioContainer {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 30px;
}

.radioItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 100px;

  margin-right: 16px;

  border: 1px solid $input-normal;
  border-radius: 16px;

  &:last-child {
    margin-right: 0;
  }
}

label {
  position: relative;
  margin-bottom: 30px;

  font-size: $font-size-secondary;
  font-weight: 700;
  text-align: left;
}

.genderButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 100px;
  margin-right: 16px;

  font-size: $font-size-secondary;
  font-weight: 400;
  color: $primary-font-color;
  fill: red;

  border: 1px solid $input-normal;
  border-radius: 16px;
  background-color: transparent;
  transition: all 250ms $timing-function;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    border: 1px solid $button-normal;
    color: $button-normal;
    font-weight: 700;
    fill: $button-normal;
  }

  & svg {
    fill: currentColor;
  }
}

.gender-active {
  border: 1px solid $button-normal;
  color: $button-normal;
  font-weight: 700;
  fill: $button-normal;
}

.text {
  margin-top: 8px;
  font-size: $font-size-secondary;
  font-weight: 400;
}

.gender-title {
  margin-bottom: 12px;

  font-size: $font-size-secondary;
  font-weight: 700;
  text-align: left;
}

.input-container {
  position: relative;
}

.input {
  width: 100%;
  padding: 24px;
  margin-top: 12px;
  // margin-bottom: 30px;

  font-size: $font-size-secondary;
  font-weight: 400;
  color: $primary-font-color;

  border: 1px solid $input-normal;
  border-radius: 16px;
  outline: none;

  &::placeholder {
    font-size: $font-size-secondary;
    color: $input-normal;
  }
}

.help-block {
  position: absolute;
  bottom: -22%;
  left: 0;

  font-size: 16px;
  font-weight: 400;
  color: $input-error;
}

.button {
  padding: 25px 0;

  font-size: $font-size-secondary;
  font-weight: 700;
  color: $white;
  background-color: $button-normal;
  border: none;
  border-radius: 16px;
  transition: all 250ms $timing-function;

  &:hover {
    background-color: $button-hover;
  }

  &:focus {
    background-color: $button-pressed;
  }
}

.link {
  font-size: $font-size-secondary;
  font-weight: 700;
  color: $button-normal;
}

.infoText {
  margin-top: 30px;
  margin-bottom: 20px;

  font-size: $font-size-secondary;
  font-weight: 400;
  &:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.has-error {
  border: 1px solid $input-error;
}

.has-success {
  border: 1px solid $input-confirmed;
}

.has-normal {
  border: 1px solid $input-normal;
}
