$primary-font-color: #5b5b5b;
$button-normal: #3c9c41;
$button-hover: #4db252;
$button-pressed: #318636;
$input-normal: #c1c1c1;
$input-confirmed: #87d78b;
$input-error: #d23737;
$white: #ffffff;
$form-box-shadow: rgba(0, 0, 0, 0.05);
$main-bg: #e5e5e5;
